*.exe

/ejercicioExpresionRepaso/nbproject/private/
/repasoExpresiones/nbproject/private/
/repasoExpresiones/build/
/potenciasYRaices/nbproject/private/
/potenciasYRaices/build/
/Ejercicios8/nbproject/private/
/Ejercicios8/build/
/copiaEjericio8/nbproject/private/
/copiaEjericio8/build/
/copiadeRaiz/nbproject/private/
/copiadeRaiz/build/
/problema 1/nbproject/private/
/problema 1/build/
/Problema 3/nbproject/private/
/Problema 3/build/
/ModuloNumeros/nbproject/private/
/ModuloNumeros/build/
/ProgramaHacerSencillo/nbproject/private/
/ProgramaHacerSencillo/build/